Package: whiteroom-xfce-settings
Version: 2016.08.05
Architecture: all
Maintainer: Alf Gaida <agaida@siduction.org>
Installed-Size: 105
Depends: whiteroom-common-settings, xfwm4 | x-window-manager, xfce4-clipman-plugin
Section: misc
Priority: optional
Homepage: https://git.siduction.org/extra/settings-xfce
Description: Xfce settings in installed mode
 Provides default settings for appearance and applications of the Xfce
 desktop.
 .
 This overrides Xfce's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.
