[Unit]
Description=Xfce cheatcodes in live media
ConditionPathExists=/usr/share/big-crime-xfce-settings/
After=big-crime-common-setting.service

[Service]
Type=oneshot
ExecStart=/usr/share/big-crime-xfce-settings/xfce-cheatcodes start

[Install]
WantedBy=graphical.target
