[Unit]
Description=Xfce cheatcodes in live media
ConditionPathExists=/usr/share/c-blues-xfce-settings/
After=c-blues-common-setting.service

[Service]
Type=oneshot
ExecStart=/usr/share/c-blues-xfce-settings/xfce-cheatcodes start

[Install]
WantedBy=graphical.target
