Source: wintersky-xfce-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.com/siduction/settings-xfce
Vcs-Git: https://github.com/siduction/settings-xfce.git
Vcs-Browser: https://github.com/siduction/settings-xfce.git

Package: wintersky-xfce-settings
Architecture: all
Depends: ${misc:Depends},
         wintersky-xfce-artwork,
         wintersky-sddm-settings | wintersky-lightdm-gtk-settings | wintersky-gdm3-settings,
         wintersky-common-settings,
  		 greybird-gtk-theme,
         xfwm4 | x-window-manager,
         xfce4-clipman-plugin
Description: Xfce settings (installed mode)
 Provides default settings for appearance and applications of the Xfce
 desktop.
 .
 This overrides Xfce's defaults used for new users, all settings remain
 configurable by the local user and don't override already existing user
 profiles.

Package: wintersky-xfce-livesettings
Architecture: all
Depends: ${misc:Depends},
         siduction-icons,
         wintersky-xfce-artwork,
         wintersky-xfce-settings,
         wintersky-common-livesettings,
         wintersky-sddm-livesettings
         | wintersky-ligthdm-gtk-livesettings
         | wintersky-gdm3-livesettings
Description: Xfce settings (live mode)
 Provides default settings for appearance and applications of the Xfce
 desktop in live mode.

