/* icon text not truncated */
XfdesktopIconView.view {
   -XfdesktopIconView-ellipsize-icon-labels: 0;
   -XfdesktopIconView-cell-spacing:0;
   -XfdesktopIconView-cell-padding:0;
   -XfdesktopIconView-cell-text-width-proportion: 2.5;
}
